<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Subjector</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
      </li>
    </ul>
    <ul *ngIf="currentUser.role < 2" class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/requests']" [routerLinkActive]="['active']">Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item link" (click)="openChangePassword()">
        <a class="nav-link">
          <span class="glyphicon glyphicon-lock"></span>Change Password</a>
      </li>
      <li class="nav-item link" (click)="logout()">
        <a class="nav-link">
          <span class="glyphicon glyphicon-log-in"></span> Log out</a>
      </li>
    </ul>
  </div>
</nav>


<popup (confirmClick)="changePassword()">
  <div>
    <section>
      <div class="container" style="width:100%">
        <div class="row">
          <div class="col-xs-12">
            <div role="form" id="register-form" autocomplete="off">
              <div class="form-group">
                <label for="current-password" class="register-field">Current Password</label>
                <input [(ngModel)]="password.currentPassword" type="password" name="current-password" class="form-control">
              </div>
              <div class="form-group">
                <label for="new-password" class="register-field">New Password</label>
                <input type="password" [(ngModel)]="password.newPassword" name="new-password" class="form-control">
              </div>
              <div class="form-group">
                <label for="repeat-password" class="register-field">Repeat New Password</label>
                <input type="password" [(ngModel)]="password.repeatPassword" name="repeat-password" class="form-control">
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </section>
  </div>
</popup>